POSTGRES_DB=salesflow
POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERUSER_PASSWORD=
MIGRATION_USER=salesflow_owner
MIGRATION_PASSWORD=
N8N_DB_USER=n8n_internal
N8N_DB_PASSWORD=
WORKFLOW_DB_USER=salesflow_runtime
WORKFLOW_DB_PASSWORD=
N8N_ENCRYPTION_KEY=
SCHEDULER_TOKEN=
META_ACCOUNT_REF=
META_WABA_ID=
META_PHONE_NUMBER_ID=
META_VERIFY_TOKEN=
META_RUNTIME_TOKEN=
GENERIC_TIMEZONE=UTC
TZ=UTC
