POSTGRES_DB=salesflow
POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERUSER_PASSWORD=
MIGRATION_USER=salesflow_owner
MIGRATION_PASSWORD=
N8N_DB_USER=n8n_internal
N8N_DB_PASSWORD=
WORKFLOW_DB_USER=salesflow_runtime
WORKFLOW_DB_PASSWORD=
N8N_ENCRYPTION_KEY=
SCHEDULER_TOKEN=
TEST_WHATSAPP_ACCOUNT_REF=
TEST_WHATSAPP_WABA_ID=
TEST_WHATSAPP_PHONE_NUMBER_ID=
TEST_WHATSAPP_RUNTIME_TOKEN=
GENERIC_TIMEZONE=UTC
TZ=UTC
